<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {pagetitle: 'Karuna | Profile' }); %>
        <link rel="stylesheet" type="text/css" href="css/profile.css">
</head>

<body>

    <%- include('../partials/sidenav'); %>

        <div class="main profile">

            <img class="profile-image" src="images/user.png">

            <h2>
                <%= user.username %>
            </h2>

            <button>
                Edit Profile
            </button>

            <div class="stats">

                <div>
                    <p class="title">
                        Followers
                    </p>

                    <p>
                        <%= user.followers.length %>
                    </p>
                </div>

                <div>
                    <p class="title">
                        Following
                    </p>

                    <p>
                        <%= user.following.length %>
                    </p>
                </div>

            </div>


            <h2>Followers</h2>
            <div class="allies">

                <% user.followers.forEach(function(follower) { %>

                    <div>

                        <p>
                            <%= follower.username %>
                        </p>

                    </div>

                    <% }); %>

            </div>

        </div>

</body>

</html>