<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {pagetitle: 'Karuna | Profile' }); %>
        <link rel="stylesheet" type="text/css" href="css/profile.css">
</head>

<body>

    <%- include('../partials/sidenav'); %>

        <div class="main profile">

            <img class="profile-image" <% if (!user.profilePic) { %> src="images/user.png" <% } else { %> src= "<%=
                    user.profilePic %>" <% } %> >

                        <h2>
                            <%= user.username %>
                        </h2>

                        <p>
                            <%= user.bio %>
                        </p>

                        <button class="stdBtn" id="editProfile">
                            <i class="fa-solid fa-gear"></i>Edit Profile
                        </button>

                        <div id="editProfileModal" class="modal">

                            <div class="modal-content">

                                <span class="close">&times;</span>

                                <form action="/editprofile" enctype="multipart/form-data" method="POST">

                                    <label>Profile Picture:</label>
                                    <input type="file" name="profilePic" accept="image/*" />
                                    <br><br>

                                    <label>Change Username:</label>
                                    <input type="text" name="username" placeholder="<%= user.username %>">
                                    <br><br>

                                    <label>Edit Bio:</label>
                                    <textarea name="bio" placeholder="<%= user.bio %>"></textarea>
                                    <br><br>

                                    <button type="submit" class="stdBtn">
                                        <i class="fa-solid fa-floppy-disk"></i>Save Changes
                                    </button>

                                </form>

                            </div>

                        </div>

                        <script>

                            var modal = document.getElementById("editProfileModal");

                            var btn = document.getElementById("editProfile");

                            var span = document.getElementsByClassName("close")[0];

                            btn.onclick = function () {
                                modal.style.display = "block";
                            }

                            span.onclick = function () {
                                modal.style.display = "none";
                            }

                            window.onclick = function (event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            }
                        </script>

                        <div class="stats">

                            <div>
                                <p class="title">
                                    Followers
                                </p>

                                <p>
                                    <%= user.followers.length %>
                                </p>
                            </div>

                            <div>
                                <p class="title">
                                    Following
                                </p>

                                <p>
                                    <%= user.following.length %>
                                </p>
                            </div>

                        </div>


                        <h2>Followers</h2>
                        <div class="allies">

                            <% user.followers.forEach(function(follower) { %>

                                <div>

                                    <p>
                                        <%= follower.username %>
                                    </p>

                                </div>

                                <% }); %>

                        </div>

        </div>

</body>

<script>
    function editProfile() {

    }
</script>

</html>