<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {pagetitle: 'Karuna | Feed' }); %>
        <link rel="stylesheet" type="text/css" href="css/feed.css">
</head>

<body>

    <%- include('../partials/sidenav'); %>

        <div class="main">

            <h2>Latest Posts (with ejs variables)</h2>
            <hr>

            <div id="post-container">

                <% posts.forEach(function(post) { %>
                    <div class="post">

                        <p class="user">

                        <form action='/viewprofile' method='post'>
                            <input type='hidden' value='<%= post.postedBy %>' name='name' />
                            <input class="user-link" type='submit' value="<%= post.postedBy %>" />
                        </form>

                        </p>

                        <p class="mood">
                            Currently feeling: <%= post.mood %>
                        </p>

                        <p class="message">
                            <%= post.message %>
                        </p>

                        <img src="<%= post.imagePath %>" width="50%">

                        <p>
                            <%= post.time %>
                        </p>


                        <button onclick="processLike('<%=post._id %>')" id=<%=post._id %> class="like-btn">
                            Likes: <%= post.likes %>
                        </button>

                        <hr>

                    </div>
                    <% }); %>
            </div>

            <script>
                function processLike(postID) {
                    let options = {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            likedPostID: postID
                        })
                    }
                    fetch('/like', options)
                        .then(response => response.json())
                        .then(fetchedData => {
                            document.getElementById(postID).innerHTML = fetchedData.likeNum
                        })
                }
            </script>


        </div>

</body>

</html>