<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {pagetitle: 'Karuna | Allies' }); %>
        <link rel="stylesheet" type="text/css" href="css/allies.css">
</head>

<body>

    <%- include('../partials/sidenav'); %>

        <div class="main">

            <h2>Allies</h2>
            <hr>

            <div id="post-container">

                <% posts.forEach(function(post) { %>
                    <div class="post">

                        <% if (post.postedBy===currentUser) { %>

                            <a href="/myprofile">
                                <%= post.postedBy %>
                            </a>

                            <%} else {%>

                                <a href="/users/<%= post.postedBy %>">
                                    <%= post.postedBy %>
                                </a>

                                <% };%>

                                    <% if (post.mood===5) { %>
                                        <p class="mood">
                                            Currently feeling: &#128512;Great
                                        </p>
                                        <%} else if(post.mood===4){%>
                                            <p class="mood">
                                                Currently feeling: &#128578;Good
                                            </p>
                                            <% } else if(post.mood===3){%>
                                                <p class="mood">
                                                    Currently feeling: &#128529;Ok
                                                </p>
                                                <%} else if(post.mood===2){%>
                                                    <p class="mood">
                                                        Currently feeling: &#128530;Bad
                                                    </p>
                                                    <% } else if(post.mood===1){%>
                                                        <p class="mood">
                                                            Currently feeling: &#128565;Awful
                                                        </p>
                                                        <% };%>

                                                            <p class="message">
                                                                <%= post.message %>
                                                            </p>

                                                            <% let now=Date.now(); let ellapsed=new Date(now-post.time);
                                                                let ellapsedMins=ellapsed.getMinutes(); let
                                                                ellapsedHours=ellapsed.getHours() - 1; let
                                                                ellapsedDays=ellapsed.getDate() - 1; %>

                                                                <p class="time">
                                                                    <%= ellapsedDays + "days " + ellapsedHours + "hrs "
                                                                        + ellapsedMins %>mins ago
                                                                </p>

                                                                <div class="reaction-container">

                                                                    <form action="/reaction" method="POST"
                                                                        style="display: flex; align-items:center;"
                                                                        id="emojiForm">
                                                                        <div class="custom-select">
                                                                            <select name="emoji">
                                                                                <option>➕</option>
                                                                                <option>👏</option>
                                                                                <option>😜</option>
                                                                                <option>😔</option>
                                                                                <option>👍</option>
                                                                                <option>👎</option>
                                                                                <option>🙌</option>
                                                                                <option>😂</option>
                                                                                <option>❤️</option>
                                                                            </select>
                                                                        </div>

                                                                        <input type='hidden' value='<%=post._id %>'
                                                                            name='postID' />

                                                                        <button type="submit" class="emoji-submit"
                                                                            id="submitBtn">
                                                                            <i class="fa-solid fa-share"></i>
                                                                        </button>
                                                                    </form>

                                                                    <div style="display: flex; overflow-x: hidden;">
                                                                        <% post.reactions.forEach(function(reaction) {
                                                                            %>
                                                                            <p class="reaction"
                                                                                title="<%= reaction.username %>">
                                                                                <%= reaction.reaction %>
                                                                            </p>
                                                                            <% }); %>
                                                                    </div>

                                                                </div>

                                                                <hr>

                    </div>
                    <% }); %>
            </div>

            <script type="module" src="scripts/emojiDropdown.js"></script>


        </div>

</body>

</html>