<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {pagetitle: 'Karuna | Home' }); %>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>

  <%- include('../partials/sidenav'); %>

  <div class="main">

    <%- include('../partials/feedBtns'); %>

    <br>
    <br>


    <!-- generate a div for each element in posts data -->
    <div class="post-container">

      <% let index=0; %>
      <!-- for iterating profile pic list -->

      <% posts.forEach(function(post) { %>

      <div class="post">


        <div class="info">

          <div class="user">

            <img class="profile-image" src="../<%=profilePics[index]%>">

            <% if (post.postedBy===currentUser) { %>

            <a href="/myprofile">
              <%= post.postedBy %>
            </a>

            <%} else {%>

            <a href="/users/<%= post.postedBy %>">
              <%= post.postedBy %>
            </a>

            <% };%>

          </div>


          <% let now=Date.now(); %>
          <% let ellapsed=new Date(now-post.time);%>
          <% var displayTime;%>

          <% if (ellapsed.getHours() - 1===0){displayTime=ellapsed.getMinutes() + " mins ago" } 
                                                    if(ellapsed.getHours() - 1 > 0){displayTime=ellapsed.getHours() -1 + " hours ago"}
                                                    if(ellapsed.getDate() - 1 > 0){displayTime=ellapsed.getDate() -1 + " days ago"}%>

          <p class="time">
            <%= displayTime %>
          </p>

        </div>

        <% if (post.imagePath) { %>
        <img class="post-image" src="/<%= post.imagePath %>">
        <%}%>

                                        <p class="message">
                                            <%= post.message %>
        </p>


        <div class="action-buttons">

          <% let liked=false %>

          <% for (var i=0; i < post.likedBy.length; i++) { %>

          <% if (post.likedBy[i].username===currentUser) { liked=true; break;
                                                        }} %>

          <% if(liked==true) { %>

          <button class="actionBtn" onclick="removeLike('<%=post._id %>')" id=<%=post._id %> class="like-btn">
            <i class="fa-solid fa-heart"></i>
            <%= post.likes %>
          </button>

          <%} else {%>

          <button class="actionBtn" onclick="addLike('<%=post._id %>')" id=<%=post._id%>>
            <i class="fa-regular fa-heart fa-fw"></i>
            <%= post.likes %>
          </button>

          <% }%>


          <button class="actionBtn">
            <a href="/post/<%=post._id %>">
              <i class="fa-solid fa-comment fa-fw"></i>
              <%= post.comments.length %>
            </a>
          </button>

          <% if (post.postedBy===currentUser) { %>

          <button class="actionBtn">
            <a href="/editpost/<%=post._id %>">
              <i class="fa-solid fa-pen-to-square fa-fw"></i>
              Edit
            </a>
          </button>

          <% }%>

        </div>

      </div>

      <% index++ %>

      <% }); %>
    </div>

  </div>

  <script>
    //LIKE POST SCRIPT
    function addLike(postID) {
      let options = {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          likedPostID: postID
        })
      }
      fetch('/like', options)
        .then(response => response.json())
        .then(fetchedData => {
          document.getElementById(postID).innerHTML = '<i class="fa-solid fa-heart fa-fw"></i>' + fetchedData.likeNum
          document.getElementById(postID).onclick = function() {
            removeLike(postID)
          };
        })
    }

    function removeLike(postID) {
      let options = {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          likedPostID: postID
        })
      }
      fetch('/unlike', options)
        .then(response => response.json())
        .then(fetchedData => {
          document.getElementById(postID).innerHTML = '<i class="fa-regular fa-heart fa-fw"></i>' +
            fetchedData.likeNum
          document.getElementById(postID).onclick = function() {
            addLike(postID)
          };
        })
    }
  </script>



  <!-- POST BUTTON AND MODAL -->
  <button id="postBtn" class="btn btn-post btn-animate"><i class="fa-solid fa-plus fa-fw" data-title="New Post"></i></button>


  <div id="postModal" class="modal">

    <div class="modal-content">

      <span class="close">&times;</span>

      <h1><i style="margin-right: 10px;" class="fa-solid fa-circle-plus"></i>New Post</h1>

      <form action="/newpost" enctype="multipart/form-data" method="POST">

        <div class="image-input">

          <label>Upload an image</label>

          <br>

          <input type="file" name="myImage" accept="image/*" />

        </div>

        <div class="caption-input">

          <label>Caption</label>
          <input type="text" id="message" name="message" placeholder="Type here">

        </div>

        <button type="submit" class="stdBtn">
          <i class="fa-solid fa-paper-plane fa-fw"></i></i>Post
        </button>

      </form>

    </div>

  </div>

  <script>
    //modal script
    var postModal = document.getElementById("postModal");

    var postBtn = document.getElementById("postBtn");

    var span = document.getElementsByClassName("close")[0];

    postBtn.onclick = function() {
      postModal.style.display = "block";
    }

    span.onclick = function() {
      postModal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        postModal.style.display = "none";
      }
    }
  </script>

</body>

</html>